@font-face {
  font-family: "Arsenal";
  src: url("../fonts/arsenal.woff2") format("woff2"),
    url("../fonts/arsenal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arsenalbold";
  src: url("../fonts/arsenalbold.woff2") format("woff2"),
    url("../fonts/arsenalbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

